extends layout

block content
  #page.home.about(data-theme='#82d2e5')
    canvas#particles
    section#home.home
      #homeCopy.copy.about
        h1.themeColor.margin Howdy. I'm Layton.
        p
          | Designing beautiful interactions with ones and zeros. A singer of sentimental ballads, a raconteur, record collector, musician, and maker of wearable electronics, I thrive on melding technology and art.
      footer.about
        ul
          li.linkedin
            a(href='http://www.linkedin.com/in/laytonhayes', target='_blank')
          li.instagram
            a(href='http://instagram.com/laytonhayes', target='_blank')
          li.github
            a(href='http://github.com/laytonhayes', target='_blank')
  a.nav.sideNav.prev(style='background-color:#92bfd3;', href='/bits-and-pieces') Prev.