extends layout

block content
  #page(data-theme='#34698D')
    header
      section
        h1.themeColor Cengage MindTap
        h2#heading.themeBackground
        ul.workList.topPad.themeColor
          li Mobile_App
          li Requirements_Gathering
          li Interactice_Prototype
        p Cengage is one of the leading producers of higher education textbooks. They approached <a href='http://slalom.com' target='blank'>Slalom</a> to help them build a native companion app (iOS + Android) for their numerous education and study materials.
      section.grid
        .half
          h2.themeBackground Qualitative Research
          p Cengage knew they wanted a companion app but were unsure of what it should be. The first step was to gather information via interviews with college students from various institutions to gain insight on current study behavior and how students are engaging with digital devices in the context of coursework. Luckily, we were in Boston and universities were in no short supply. 
          p Findings were presented to the client and refined to produce a list of feature for a MVP (minimal viable product). From there a high level app map was developed to gain consensus on flow, functional requirements, and design priority.
        .half.center
          .mobile
            video(height='auto' width='auto' loop)
              source(src='images/portfolio/cengage/mobile1.mp4' type='video/mp4')
      img.full(src='/images/portfolio/cengage/flows.png')
      section.noBottomPad
        h2.themeBackground Early User Testing
        p Once functionality was fleshed out, it was time to test design paradigms on a mobile device with real users. Fifteen college students were asked to perform various tasks on an interactive prototype to assess gaps and refine the flows and interactions.
      section.grid
        .half.center
          .mobile
            img(src='/images/portfolio/cengage/wireframe1.gif')
        .half.center
          .mobile
            img(src='/images/portfolio/cengage/wireframe2.gif')
      section.noBottomPad
        h2.themeBackground Visual + Interactive Design
        p During prototype refinement a visual language was being developed in parallel. Redlines and motion mockups were referenced by developers while building the app in <a href='https://xamarin.com/' target='blank'>Xamarin</a>. Collaboration between designers and developers insured a cohesive final product.
      section.grid
        .half.center
          .mobile
            img(src='/images/portfolio/cengage/mobile2.jpg')
        .half.center
          .mobile
            img(src='/images/portfolio/cengage/mobile3.jpg')
                    
  a.nav.sideNav.prev(style='background-color:#099AB9;', href='/tape-stacks') Prev.
  a.nav.sideNav.next(style='background-color:#2143C3;', href='/weather-tube') Next