extends layout
block append head
  title= 'The added string'

block content
  p Some of the Indeed designs aren’t ready for prime-time. 
  p Please enter the access code to check them out - or contact <a href=mailto:holler@laytonhayes.com>holler@laytonhayes.com</a> to get the code.
  form(action='/checkCode' method='POST' id='codeForm')
    input(name='code' id='inputCode' placeholder='Enter access code')
    button(type='submit') Submit
  #error Sorry, that’s not the correct code