doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    img(src='/images/fourOhFour.gif' align='right')
    h1= message
    h2= error.status
    a(href='/') Go to the home page
//    pre #{error.stack}
