extends layout

block content
  #page(data-theme='#F6BF18')
    header
      section
        h1.themeColor First American:  Palomar
        h2#heading.themeBackground
        ul.workList.themeColor
          li Responsive_Website
          li Information_Architecture
          li Living_Style_Guide
        p First American is one of the largest providers of real estate and mortgage services in the United States. Their Natural Hazard Disclosure team approached <a href='http://slalom.com' target='blank'>Slalom</a> looking to revamp their website, ordering process, and Customer Service Representative workflow.
    section.noTopPad  
      .web
        .head
          .nav
          .url
        img(src='/images/portfolio/firstAmerican/desktop1.gif')
    section.noBottomPad
      h2.themeBackground Getting embedded
      p To understand the entire ordering process we started by shadowing employees, from initial order to order fulfillment. This included learning about internal document hand-off and communication, billing, and customer support. We interviewed several current customers and First American salespeople to understand how they used the current product, what features they would like to see, and in what environment (office, on the road, etc.) the site was being accessed.
      p Because of the massive amount of logic that goes in to generating a report and the large number of stakeholders invested in the redesign, we knew everyone needed to have an understanding of the entire ecosystem and how it relates to each other. By creating application flows and site maps, stakeholders could easily see how users would move through the site. This allowed development teams to start database and endpoint design without waiting for wireframes.
    section.noTopPad.noBottomPad
      img.full(src='/images/portfolio/firstAmerican/flow.png')
    section.grid.noPad
      .half
        h2.themeBackground Streamlining the process
        p Using a combination of <a href='https://www.sketchapp.com'>Sketch</a> for design and <a href='https://www.invisionapp.com'>InVision</a> for rapid prototyping, ideas were quickly tested and iterated upon. Comments could be added directly to the prototype, allowing changes to be tracked and eliminating lengthy email chains.
        p By integrating design and development in order to move swiftly, a "Living Style Guide" was utilized. Developers were able to start front-end coding using wireframes, eliminating the need for full fidelity design comps. Visual design, responsive breakpoints, and interactive elements were added and updated directly in the codebase.
      .half.center
        .mobile
          img(src='/images/portfolio/firstAmerican/mobile.png')
    section  
      .web
        .head
          .nav
          .url
        img(src='/images/portfolio/firstAmerican/desktop2.png')
  a.nav.sideNav.prev(style='background-color:#099AB9;', href='/tape-stacks') Prev.
  a.nav.sideNav.next(style='background-color:#EF6C00;', href='/terradata') Next