extends layout

block content
  #page(data-theme='#F6BF18')
    header
      section
        h1.themeColor First American:  Palomar
        h2#heading.themeBackground
        ul.workList.themeColor
          li Responsive_Website
          li Information_Architecture
          li Living_Style_Guide
        p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper.
    section.noTopPad  
      .web
        .head
          .nav
          .url
        img(src='/images/portfolio/firstAmerican/desktop1.gif')
    section.noBottomPad
      h2.themeBackground Getting embeded
      p Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.
    section.noTopPad.noBottomPad
      img.full(src='/images/portfolio/firstAmerican/flow.png')
    section.grid.noPad
      .half
        h2.themeBackground Iterative Testing
        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.
      .half.center
        .mobile
          img(src='/images/portfolio/firstAmerican/mobile.png')
    section  
      .web
        .head
          .nav
          .url
        img(src='/images/portfolio/firstAmerican/desktop2.png')
  a.nav.sideNav.prev(style='background-color:#099AB9;', href='/tape-stacks') Prev.
  a.nav.sideNav.next(style='background-color:#EF6C00;', href='/terradata') Next