extends layout

block content
  #page.home(data-theme='#F170AB')
    section#home.home
      #homeCopy.copy
        h1.margin
          span#time Good Day.
        p
          | This is the Portfolio of Layton Hayes, an interactive 
          br
          | designer, developer, and producer based in Los Angeles.
      ul#downArrows.downArrows
        li
        li
        li
    canvas#particles
    section.portfolio
      a.portBlock(href='/washing-machine-microsite')
        video(height='420px' loop)
          source(src="video/nixieGrass.mp4" type="video/mp4")
        .border(style='border-color: #2143C3')
        h2(style='background: #2143C3') Weather Tubes
      a.portBlock.half(href='/washing-machine-microsite')
        img(src='images/portfolio/nike/cover.png')
        .border(style='border-color: #F78E1F')
        h2(style='background: #F78E1F') Nike WD+C
      a.portBlock.half(href='/washing-machine-microsite')
        img(src='images/portfolio/tapeStacks/cover.png')
        .border(style='border-color: #099AB9')
        h2(style='background: #099AB9') Tape Stacks
      
    footer
      h1.margin Howdy. I'm Layton.
      p
        | Designing beautiful interactions with ones and zeros. A singer of sentimental ballads, a raconteur, record collector, musician, and maker of wearable electronics, I thrive on melding technology and art.
      ul
        li.linkedin
          a(href='http://www.linkedin.com/in/laytonhayes', target='_blank')
        li.instagram
          a(href='http://instagram.com/laytonhayes', target='_blank')
        li.github
          a(href='http://github.com/laytonhayes', target='_blank')
