extends layout

block content
  #page.home(data-theme='#F170AB')
    section#home.home
      #homeCopy.copy
        h1.margin
          span#time Good Day.
        p
          | This is the Portfolio of Layton Hayes, an interactive 
          br
          | designer, developer, and fabricator based in Los Angeles.
      ul#downArrows.downArrows
        li
        li
        li
    canvas#particles
    section.portfolio
      a.portBlock.nav(href='/weather-tubes')
        video(height='auto' width='auto' loop)
          source(src='images/portfolio/weatherTubes/cover.mp4' type='video/mp4')
        .border(style='border-color: #2143C3')
        h2(style='background: #2143C3') Weather Tubes
      a.portBlock.nav.half(href='/nike' style='background-image: url("images/portfolio/nike/cover.png")')
        .border(style='border-color: #F78E1F')
        h2(style='background: #F78E1F') Nike WD+C
      a.portBlock.nav.half(href='/tape-stacks' style='background-image: url("images/portfolio/tapeStacks/cover.png")')
        .border(style='border-color: #099AB9')
        h2(style='background: #099AB9') Tape Stacks
      a.portBlock.nav.oneThird.contain(href='/first-american' style='background-image: url("images/portfolio/firstAmerican/cover.png"); background-color:#2B5382')
        .border(style='border-color: #FFCC33')
        h2(style='background: #FFCC33') First American
      a.portBlock.nav.twoThird(href='/terradata' style='background-image: url("images/portfolio/terradata/cover.jpg")')
        .border(style='border-color: #EF6C00')
        h2(style='background: #EF6C00') Terradata IntelliCloud
      a.portBlock.nav.half(href='/maritz' style='background-image: url("images/portfolio/maritz/cover.png")')
        .border(style='border-color: #12D9E0')
        h2(style='background: #12D9E0') Maritz CultureNext
      a.portBlock.nav.half(href='/cengage' style='background-image: url("images/portfolio/cengage/cover.jpg")')
        .border(style='border-color: #34698D')
        h2(style='background: #34698D') Cengage MindTap
      
    section.bio
      h1.margin Howdy. I'm Layton.
      p
        | Designing beautiful interactions with ones and zeros. A singer of sentimental ballads, a raconteur, record collector, musician, and maker of wearable electronics, I thrive on melding technology and art.
    footer  
      a.github(href='http://github.com/laytonhayes', target='_blank')
      a.linkedin(href='http://www.linkedin.com/in/laytonhayes', target='_blank')
      a.instagram(href='http://instagram.com/laytonhayes', target='_blank')
      a.spotify(href='https://open.spotify.com/user/laytonhayes', target='_blank')
