extends layout

block content
  #page(data-theme='#2557A7')
    header
      section
        h1.themeColor Indeed
        ul.workList.themeColor
          li Tings + Tongs
        p This *should* be a protected page.

  a.nav.sideNav.next(style='background-color:#C56BFF;', href='/ticketmaster-resale') Next