extends layout

block content
  #page.home(data-theme='#F170AB')
    section.homeHeader
      .homeCopy
        h1.margin
          span#time Good Day.
        p This is the portfolio of Layton Hayes, an interactive designer, developer, and fabricator based in San Antonio, Texas.
      #rubix
      ul#downArrows.downArrows
        li
        li
        li
    section.portfolio
      a.portBlock.nav.oneThird.lazy-bg(href='/ticketmaster')
        video.lazy(height='auto' width='auto' poster='/images/portfolio/ticketmaster/coverPoster.jpg' autoplay loop muted playsinline)
          source(data-src='/images/portfolio/ticketmaster/cover.mp4' type='video/mp4')
        .border(style='border-color: #026CDF')
        h2(style='background: #026CDF') Ticketmaster
      a.portBlock.nav.twoThird.lazy-bg(href='/ticketmaster-resale' style='background: #F6F6F6')
        video.lazy(height='auto' width='auto' poster='/images/portfolio/tmResale/coverPoster.png' autoplay loop muted playsinline)
          source(data-src='/images/portfolio/tmResale/cover.mp4' type='video/mp4')
        .border(style='border-color: #C56BFF')
        h2(style='background: #C56BFF') Ticketmaster Resale
      a.portBlock.nav.half.lazy-bg(href='/nike' style='background-image: url(/images/portfolio/nike/cover.png)')
        .border(style='border-color: #1B1B1B')
        h2(style='background: #1B1B1B') Nike WD+C
      a.portBlock.nav.half.lazy-bg(href='/teradata' style='background-image: url(/images/portfolio/teradata/cover.jpg)')
        .border(style='border-color: #EF6C00')
        h2(style='background: #EF6C00') Teradata IntelliCloud
      a.portBlock.nav.half.lazy-bg(href='/edassist' style='background-image: url(/images/portfolio/edassist/cover.png)')
        .border(style='border-color: #FBBC05')
        h2(style='background: #FBBC05') Bright Horizons EdAssist
      a.portBlock.nav.half.lazy-bg(href='/weather-tube' style='background-image: url(/images/portfolio/weatherTube/cover.jpg)')
        video.lazy(height='auto' width='auto' poster='/images/portfolio/weatherTube/coverPoster.jpg' autoplay loop muted playsinline)
          source(data-src='/images/portfolio/weatherTube/cover.mp4' type='video/mp4')
        .border(style='border-color: #2143C3')
        h2(style='background: #2143C3') Weather Tube
  
    section.footer
      section
        h1.margin Howdy. I'm Layton.
        p Designing beautiful interactions with ones + zeros. Creating experiences with atoms + electrons. A singer of sentimental ballads, technologist, and raconteur. I thrive on melding technology + art.
      section.icons
        a.linkedin(href='http://www.linkedin.com/in/laytonhayes', target='_blank')
        a.github(href='http://github.com/laytonhayes', target='_blank')
        a.spotify(href='https://open.spotify.com/user/laytonhayes', target='_blank')

  section.profile