if !isAJAX
  doctype
  html
    head
      title= title
      link(rel='icon' href='favicon32.png' sizes='32x32')
      link(rel='icon' href='favicon57.png' sizes='57x57')
      link(rel='icon' href='favicon76.png' sizes='76x76')
      link(rel='icon' href='favicon96.png' sizes='96x96')
      link(rel='icon' href='favicon128.png' sizes='128x128')
      link(rel='icon' href='favicon228.png' sizes='228x228')
      <!-- Android -->
      link(rel='shortcut icon' sizes='196x196' href='favicon196.png')
      <!-- iOS -->
      link(rel='apple-touch-icon' href='favicon120.png' sizes='120x120')
      link(rel='apple-touch-icon'  href='favicon152.png' sizes='152x152')
      link(rel='apple-touch-icon' href='favicon180.png' sizes='180x180')
      
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Bitter')
      link(rel='stylesheet', href='/stylesheets/style.css')     
      meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

      script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
      script(type='text/javascript' src='/javascripts/interaction.js')
      //-
        script(type='text/javascript').
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-27036990-1']);
          _gaq.push(['_trackPageview']);
          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    body
      nav
        a(href="/" class="nav themeBackground")
  
      #content
        block content
      .borderTB.top.themeBackground
      .borderLR.left.themeBackground
      .borderLR.right.themeBackground
      .borderTB.bottom.themeBackground
else
  block content