extends layout

block content
  #page(data-theme='#f87f0a')
    header
      section
        h1.themeColor Nike WD+C
        h2#heading.themeBackground
        ul.workList.themeColor
          li Responsive_Website
          li Product_Design
          li Artificial_Inteligence
        p Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    section.grid.noPad
      .half
        h2.themeBackground A.I. and Machine Learning
        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue.
      .half.center
        .mobile
          img(src='/images/portfolio/nike/mobile.gif')
    section
      h2.themeBackground Accessible on-the-go or in the office
      p Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.
    section.noTopPad  
      .web
        .head
          .nav
          .url
        img(src='/images/portfolio/nike/desktop.jpg')
    section
      h2.themeBackground How it works
      p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.
      img.full(src='/images/portfolio/nike/architecture.png')     

  a.nav.sideNav.prev(style='background-color:#2143C3;', href='/weather-tubes') Prev.
  a.nav.sideNav.next(style='background-color:#099AB9;', href='/tape-stacks') Next