extends layout

block content
  #page(data-theme='#1B1B1B')
    header
      section
        h1.themeColor Nike WD+C
        h2#heading.themeBackground
        ul.workList.themeColor
          li Responsive_Website
          li Artificial_Inteligence
          li Product_Design
        p <a href='http://slalom.com' target='blank'>Slalom</a> was approached by Nike to provide a solution for their byzantine online employee resources. These included booking meeting rooms, campus way-finding, transportation options, vendor integration, and connecting to existing services (building access, travel information, wellness center, printing, child care, etc.) that should be available to all employees on any device.
    section.grid.noPad
      .half
        h2.themeBackground A.I. and Machine Learning
        p Nike's employee landscape contains dozens of personas, representing a diverse range of roles, priorities, and backgrounds. Rather than designing for a few types of roles, we chose to use A.I. and Machine Learning to customize the content on an individual basis without making them hunt for it.  Where human managed experiences often grow out of date, lose quality, and become more expensive to manage over time, A.I. enables the Platform to become smarter, stronger, and more self-aware.
        p In addition to contextually managed content, we created a natural language chat A.I. that allows employees to quickly accomplish tasks such as booking a meeting room, finding the fastest way to an office, or asking where the nearest place on campus is to get a taco.
        p Meet NikeBot.
      .half.center
        .mobile
          img(src='/images/portfolio/nike/mobile.gif')
    section
      h2.themeBackground Accessible on-the-go or in the office
      p Because accessibility was priority, we chose to create a responsive website rather than relying on native mobile apps. This allows employees to access information at their desk or while traveling between meetings. Native dictation can be used on mobile devices while on-the-go. 
    section.noTopPad  
      .web
        .head
          .nav
          .url
        img(src='/images/portfolio/nike/desktop.jpg')
    section
      h2.themeBackground How it works
      p NikeBot uses the same technology that powers Amazon's Alexa to bring A.I. concierge services to the Nike WD+C app. A custom service uses machine learning to track users' behavior and connect to a myriad of external services.
      img.full(src='/images/portfolio/nike/architecture.png')     

  a.nav.sideNav.next(style='background-color:#EF6C00;', href='/teradata') Next