extends layout

block content
  #page(data-theme='#099AB9')
    header
      section
        h1.themeColor Tape Stacks
        h2#heading.themeBackground
        ul.workList.themeColor
          li Responsive_Website
          li Visual_Design
          li FrontEnd_Coding
        p This single page, responsive site was created for the band Tape Stacks (which I happen to play frequencies in). Bright colors and geometric stacks echo the band's aesthetic. 
      section.grid.noPad
        .half
          h2.themeBackground Band on the run (or at home)
          p The site features a custom music player, easily updatable show schedule, and animated elements based on scroll position.
          p With nearly half of all traffic from mobile devices, the design took a mobile-first approach. Check it.
          a.big(href='http://www.tapestacks.com' target='_blank') Launch the site
            .arrow
        img.half(src='/images/portfolio/tapeStacks/pinkAnimation.gif') 

  a.nav.sideNav.prev(style='background-color:#f87f0a;', href='/nike') Prev.
  a.nav.sideNav.next(style='background-color:#F6BF18;', href='/first-american') Next