extends layout

block content
  #page(data-theme='#099AB9')
    header
      section
        h1.themeColor Tape Stacks
        h2#heading.themeBackground
        ul.workList.themeColor
          li Responsive_Website
          li Visual_Design
          li FrontEnd_Coding
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        a.big(href='http://www.tapestacks.com' target='_blank') Launch the site
          .arrow
 

  a.nav.sideNav.prev(style='background-color:#f87f0a;', href='/nike') Prev.