extends layout

block content
  #page(data-theme='#EF6C00')
    header
      section
        h1.themeColor Teradata IntelliCloud
        ul.workList.themeColor
          li Data_Visualization
          li Information_Architecture
          li Product_Design
        p When one of the world's most established large data storage and analytics companies approached <a href='http://slalom.com' target='blank'>Slalom</a> for a top down approach on migrating their legacy on-premises installations to the Cloud, we lead with design.
        hr
      section
        h2.themeBackground A scaled approach
        p Using an <a href='https://en.wikipedia.org/wiki/Agile_software_development' target='_blank'>Agile</a> approach, we started creating and prioritizing features based on interviews with clients and internal employees. Features were sorted based on priority and reassessed every Sprint. Rapid prototyping allowed features and designs to be tested, prioritized, and iterated upon using a large visual library we created.
        .web
          .head
            .nav
            .url
          img(src='/images/portfolio/teradata/desktop1.gif')
      section
        h2.themeBackground Dev + Design
        p Moving to the Cloud provided an opportunity to use Serverless Architecture, allowing <a href='https://teradata.github.io/covalent/#/components' target='_blank'>Angular v4 Components</a> to be created using a <a href='https://teradata.github.io/covalent/#/style-guide' target='_blank'>Living Style Guide</a>. As the visual style evolved, it could quickly be rolled out across all services.
        a.big.bottomPad(href='https://teradata.github.io/covalent/' target='_blank') Check out the Style Guide + Components
          .arrow
        .web
          .head
            .nav
            .url
          img(src='/images/portfolio/teradata/desktop2.gif')

  a.nav.sideNav.prev(style='background-color:#1B1B1B;', href='/nike') Prev.
  a.nav.sideNav.next(style='background-color:#12D9E0;', href='/maritz') Next