extends layout

block content
  #page(data-theme='#EF6C00')
    header
      section
        h1.themeColor Terradata IntelliCloud
        h2#heading.themeBackground
        ul.workList.themeColor
          li Data_Visualization
          li Information_Architecture
          li Something
        p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum.
        hr
      section
        h2.themeBackground Plotting the Path
        p Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.
        .web
          .head
            .nav
            .url
          img(src='/images/portfolio/terradata/desktop1.gif')
      section
        h2.themeBackground Much with little
        p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        .web
          .head
            .nav
            .url
          img(src='/images/portfolio/terradata/desktop2.gif')

  a.nav.sideNav.prev(style='background-color:#FFCC33;', href='/first-american') Prev.
  a.nav.sideNav.next(style='background-color:#12D9E0;', href='/maritz') Next