extends layout

block content
  #page(data-theme='#EF6C00')
    header
      section
        h1.themeColor Terradata IntelliCloud
        h2#heading.themeBackground
        ul.workList.themeColor
          li Responsive_Website
          li Visual_Design
          li FrontEnd_Coding

  a.nav.sideNav.prev(style='background-color:#FFCC33;', href='/first-american') Prev.
  a.nav.sideNav.next(style='background-color:#12D9E0;', href='/maritz') Next