extends layout

block content
  #page(data-theme='#C56BFF')
    header
      section
        h1.themeColor Ticketmaster Resale
        ul.workList.themeColor
          li Product_Design
          li Data_Visualization
          li Interactive_Prototyping
        p The Problem: Season Ticket Holders need a better way to resale their tickets to the general market.
        p The Solution: A complete redesign taking a holistic approach to.... And add features.
        hr
      section
        h2.themeBackground To start anew
        p The first step was designing a complete front-end overhaul that would interactive with their legacy databases. Ideas were validated by the stakeholders with user flows and site maps. User flows also allowed developers to start designing a new service platform to interact with the legacy data. 
        
      section.noTopPad
        .web
          .head
            .nav
            .url
          img(src='/images/portfolio/tmResale/desktop1.png')



  a.nav.sideNav.next(style='background-color:#026CDF;', href='/ticketmaster') Next