extends layout

block content
  #page(data-theme='#C56BFF')
    header
      section
        h1.themeColor Ticketmaster Resale
        ul.workList.themeColor
          li Product_Design
          li Data_Visualization
          li Interactive_Prototyping
        p The Problem: Season Ticket Holders need a better way to resale their tickets to the general market.
        p The Solution: A complete redesign taking a holistic approach to.... And add features.
        hr
      section
        h2.themeBackground A complete redesign
        p The previous Resale iteration was was designed as a mobile first experience. In looking at our analytics we realized that, although most other features (pages) were predominantly viewed on mobile devices, Resale traffic was accessed on desktop nearly 80%. Something else gleaned from analytics was many users instinctively clicked on the pricing chart, although it was not interactive.
      section.noTopPad
        .web
          .head
            .nav
            .url
          img(src='/images/portfolio/tmResale/desktop1.gif')

      section
        h2.themeBackground Putting it to the test
        p Early in the design process we knew we wanted to validate some key interaction assumptions before diving too deep into design. Because traditional clickable prototypes like Invision wouldn't suffice in mocking up interactions, I chose to use Framer for the interactive prototype. This allowed us to quickly code up interactions without building a whole interactive site. Because our design system is React based, we could quickly import the actual assets into Framer for realistic design and interactivity. In testing with real season ticket holders, the reactions were fantastic and helped us validate our assumptions and gain a better understanding of what future features fans would like to see.
      section.noTopPad
        .web
          .head
            .nav
            .url
          video.lazy(height='auto' width='auto' poster='/images/portfolio/tmResale/prototypePoster.png' autoplay loop muted playsinline)
            source(data-src='/images/portfolio/tmResale/prototype.mp4' type='video/mp4')

  a.nav.sideNav.next(style='background-color:#026CDF;', href='/ticketmaster') Next