extends layout

block content
  #page(data-theme='#026CDF')
    header
      section
        h1.themeColor Ticketmaster Resale
        ul.workList.themeColor
          li Data_Visualization
          li Information_Architecture
          li Product_Design
        p When one of the world's most established large data storage and analytics companies approached <a href='http://slalom.com' target='blank'>Slalom</a> for a top down approach on migrating their legacy on-premises installations to the Cloud, we lead with design.
        hr

  a.nav.sideNav.next(style='background-color:#C56BFF;', href='/ticketmaster') Next