extends layout

block content
  #page(data-theme='#026CDF')
    header
      section
        h1.themeColor Ticketmaster
        ul.workList.themeColor
          li Product_Design
        p Have the opportunity to lead a team of talented designers and guide the direction of new products and refresh existing products and pages. I can to Ticketmaster as a contractor to help with a specific project but wound up loving the people and culture and decided to join full time.
      section.grid
        .half
          h2.themeBackground Making the Connection
          p Linking millions of accounts is a delicate process, especially without an option to undo.
          p Merging millions of accounts is more complicated than it sounds... Over 900 season ticket sites had their own authentication not tied to Ticketmaster. For future products to function they needed to be brought into the Ticketmaster ecosystem. This meant a progressive rollout to over a million active accounts during the off season for each sports team and theatre. 
          p The main challenge for this project was not the front end, but how to manage several dozen edge cases that could potentially keep a fan from attending their favorite game or performance.
        .half.center
          .mobileModern
            video.lazy(height='auto' width='auto' poster='/images/portfolio/tmResale/desktopPoster.png' autoplay loop muted playsinline)
              source(data-src='/images/portfolio/ticketmaster/modernAccountsMobile.mp4' type='video/mp4')
      
      img.full(src='/images/portfolio/ticketmaster/flows.png')
      
      section
        h2.themeBackground Virtual Venue
        p Early in the design process we knew we wanted to validate some key interaction assumptions before diving too deep into design. Because traditional clickable prototypes like Invision wouldn't suffice in mocking up interactions, I chose to use Framer for the interactive prototype. This allowed us to quickly code up interactions without building a whole interactive site. Because our design system is React based, we could quickly import the actual assets into Framer for realistic design and interactivity. In testing with real season ticket holders, the reactions were fantastic and helped us validate our assumptions and gain a better understanding of what future features fans would like to see.
      section.noTopPad
        .web
          .head
            .nav
            .url
          img(src='/images/portfolio/ticketmaster/vvDesktop.png')
          
      section
        h2.themeBackground Checkout Redesign
        p Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor.
      section.grid.noTopPad
        .half.center
          h3.noMargin Previous Design
          .mobileModern
            img(src='/images/portfolio/ticketmaster/checkoutMobileOld.png')
          p Some words??? Paypal partnership added. Moved all content up front, removing the previous accordian style stepped process, alowing fans to see everything on one screen.
          p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit.
        .half.center
          h3.noMargin New Design
          .mobileModern
            img(src='/images/portfolio/ticketmaster/checkoutMobile.png')
      section.noTopPad
        .web
          .head
            .nav
            .url
          img(src='/images/portfolio/ticketmaster/checkoutDesktop.png')

  a.nav.sideNav.prev(style='background-color:#C56BFF;', href='/ticketmaster-resale') Prev.
  a.nav.sideNav.next(style='background-color:#1B1B1B;', href='/nike') Next