extends layout

block content
  #page(data-theme='#026CDF')
    header
      section
        h1.themeColor Ticketmaster
        ul.workList.themeColor
          li Product_Design
        p I work at Ticketmaster. Here are some projects...
        hr
      section.grid
        .half
          h2.themeBackground A.I. and Machine Learning
          p Nike's employee landscape contains dozens of personas, representing a diverse range of roles, priorities, and backgrounds. Rather than designing for a few types of roles, we chose to use A.I. and Machine Learning to customize the content on an individual basis without making them hunt for it.  Where human managed experiences often grow out of date, lose quality, and become more expensive to manage over time, A.I. enables the Platform to become smarter, stronger, and more self-aware.
          p In addition to contextually managed content, we created a natural language chat A.I. that allows employees to quickly accomplish tasks such as booking a meeting room, finding the fastest way to an office, or asking where the nearest place on campus is to get a taco.
          p Meet NikeBot.

  a.nav.sideNav.prev(style='background-color:#C56BFF;', href='/ticketmaster-resale') Prev.
  a.nav.sideNav.next(style='background-color:#1B1B1B;', href='/nike') Next