$blue =       #32CCD6
$border =     6px
$z-nav =      100
$z-portH2 =   99

/* maybe remove? */
$darkBlue =   #0082c8
$orange =     #fdb813
$green =      #c1d72e
$gray =       #bebdbd
$lightGray =  #dedede
$darkGray =   #5c5c5c

/*  GLOBAL RESETS  */
body,p,table,tr,td,ul,ol,li,dl,dd,dt,div,span,a,h1,h2,h3,h4,h5,h6,fieldset
  margin: 0
  padding: 0
  background-repeat: no-repeat
a img
  border: none
a
  text-decoration: none
fieldset
  border: none
:focus
  outline: 0 none
input::-moz-focus-inner,button::-moz-focus-inner
  border: none
ul li
  list-style: none

/*  FONTS  */
@font-face
  font-family: 'Brandon'
  src: url("/fonts/brandon.eot")
  src: url("/fonts/brandon.eot?#iefix") format("embedded-opentype"), url("/fonts/brandon.woff") format("woff"), url("/fonts/brandon.ttf") format("truetype"), url("/fonts/brandon.svg#brandon") format("svg")
  font-weight: normal
  font-style: normal
/* GLOBAL */
html
  font-size: 10px
  height: 100%
body
  font: 1.8rem/2.4rem 'Bitter', sans-serif
  color: $darkGray
  min-height: 500px
  position: relative
  padding-bottom: $border
  -webkit-font-smoothing: antialiased
  .borderLR
    position: fixed
    width: $border
    top: 0
    bottom: 0
    &.left
      left: 0
    &.right
      right: 0
  .borderTB
    position: fixed
    height: $border
    left: 0
    right: 0
    &.top
      top: 0
    &.bottom
      bottom: 0
header
  margin-top: 6rem
section
  padding: 5rem 0
p
  max-width: 1240px
  margin-bottom: 2rem
h1
  font: 5.4rem/5.8rem 'Brandon', sans-serif
  font-weight: normal
  &.margin
    margin-bottom: 1.2rem
  &.fixed
    position: fixed
    top: 0
    left: 60px
h2
  font: 3.8rem/4.2rem 'Brandon', sans-serif
  font-weight: normal
  margin: 0 0 2rem -2rem
  padding: 0 .5rem
  line-height: 60px
  color: #fff
  display: inline-block
  z-index: $z-nav
h2#heading
  position: fixed
  top: 0
hr
  margin-top: 6rem
  border: none
  background: $gray
  height: 1px
ul.workList
  margin-bottom: 2rem
  li
    display: inline
    margin-right: 2rem
    &:before
      content: '+'
div#page
  padding: 1% 8rem
nav
  position: fixed
  top: 0
  left: 0
  z-index: $z-nav
  a
    display: block
    height: 60px
    width: 60px
    background: url("/images/logo.svg")
    padding: 0
    transition: none
    -webkit-transition: none

/* TODO! */
a.sideNav
  position: fixed
  width: 3.5rem
  height: 5rem
  top: 40%
  transition: all .15s
  -webkit-transition: all .15s
  background-repeat: no-repeat
  background-size: 25px 20px !important
  line-height: 5rem
  opacity: .5
  color: white
  font-family: 'Brandon', sans-serif
  font-weight: bold
  text-transform: uppercase
  &:hover
    opacity: 1
  &.prev
    left: -5.5rem
    width: 4.5rem
    background-image: url("/images/linkArrowBigPrev.png")
    background-position: right center
    background-size: contain
    border-radius: 0 4px 4px 0
    padding-right: 3rem
    text-align: right
    &:hover
      -webkit-transform: translate3d(5.5rem, 0, 0)
      transform: translate3d(5.5rem, 0, 0)
  &.next
    right: -5.5rem
    padding-left: 3rem
    background-image: url("/images/linkArrowBigNext.png")
    background-position: left center
    background-size: contain
    border-radius: 4px 0 0 4px
    &:hover
      -webkit-transform: translate3d(-5.5rem, 0, 0)
      transform: translate3d(-5.5rem, 0, 0)
    &.base
      -webkit-transform: translate3d(-5.5rem, 0, 0)
      transform: translate3d(-5.5rem, 0, 0)
      opacity: 1
.themeBackground
  transition: background 1s


/*  MAIN PAGE  */
div#page.home
  padding: 0
  &.about
    canvas
      position: absolute
section.home
  margin: 0
  padding: 0
  position: absolute
  width: 100%
  div.copy
    position: absolute
    left: 6%
    top: 260px
    h1
      color: $blue
    p
      line-height: 2rem
  ul.downArrows
    position: fixed
    width: 100%
    bottom: 3rem
    opacity: 1
    cursor: pointer
    transition: opacity 1s
    -webkit-transition: opacity 1s
    li
      background-image: url("/images/downArrow.svg")
      background-size: contain
      width: 60px
      height: 24px
      margin: -2px auto
      opacity: 0
      &:nth-child(1)
        -webkit-animation: arrows1 3s .5s infinite ease-in
        animation: arrows1 3s .5s infinite ease-in
      &:nth-child(2)
        -webkit-animation: arrows2 3s .8s infinite ease-in
        animation: arrows2 3s .8s infinite ease-in
      &:nth-child(3)
        -webkit-animation: arrows3 3s 1.1s infinite ease-in
        animation: arrows3 3s 1.1s infinite ease-in
    &.hide
      opacity: 0

/* DOWNWARD ARROW ANIMATIONS */
@keyframes arrows1 {
  0%  {transform: translate3d(0, 0, 0); opacity: 0;}
  15% {transform: translate3d(0, 6px, 0); opacity: .33;}
  90% {transform: translate3d(0, 6px, 0); opacity: .33;}
  100% {transform: translate3d(0, 6px, 0); opacity: 0;}
}
@keyframes arrows2 {
  0%  {transform: translate3d(0, 0, 0); opacity: 0;}
  15% {transform: translate3d(0, 6px, 0); opacity: .66;}
  80% {transform: translate3d(0, 6px, 0); opacity: .66;}
  90% {transform: translate3d(0, 6px, 0); opacity: 0;}
  100% {transform: translate3d(0, 6px, 0); opacity: 0;}
}
@keyframes arrows3 {
  0%  {transform: translate3d(0, 0, 0); opacity: 0;}
  15% {transform: translate3d(0, 6px, 0); opacity: 1;}
  70% {transform: translate3d(0, 6px, 0); opacity: 1;}
  80% {transform: translate3d(0, 6px, 0); opacity: 0;}
  100% {transform: translate3d(0, 6px, 0); opacity: 0;}
}

section.portfolio
  padding: 0 6rem
  a.portBlock
    height: 42rem
    display: block
    position: relative
    overflow: hidden
    margin: 9px
    padding: 0
    background-size: cover
    background-position: 50% 50%
    video
      position: absolute
      top: 50%; left: 50%
      transform: translate(-50%, -50%)
      min-width: 100%;
      min-height: 100%;
    h2
      position: absolute
      left: 2.4rem
      top: 2.4rem
      padding: 0 2rem
      z-index: $z-portH2
      margin: 0
    .border
      border-width: 1.2rem
      border-style: solid
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      transition: all .5s ease-in-out
    &.half
      display: inline-block;
      width: calc(50% - 18px);
    &:hover
      .border
        border-width: 2.4rem
        background: rgba(0,0,0,.3)
       

div.web
  border: 2px solid $gray
  border-radius: 4px
  max-width: 1200px
  position: relative
  margin-top: 2rem
  div.head
    background: $gray
    padding: 8px 20px 10px 20px
    div.nav
      height: 20px
      width: 60px
      background-image: url("/images/webArrows.png")
      background-size: contain
      float: left
      margin-top: 4px
    div.url
      font-family: 'Lucida Grande', sans-serif
      font-size: 14px
      color: $gray
      background: #fff
      margin-left: 80px
      line-height: 16px
      padding: 5px 5px 5px 10px
      border-radius: 3px
  img
    max-width: 100%
    &.overlay
      position: absolute
      top: 0
      left: 0
  video
    max-width: 100%
    position: absolute
    top: 0
    left: 0
    &.washHeading
      width: 72%
      margin: 44px 0 0 15.4%
  div.wrapper
    position: relative
  div.reveal
    position: absolute
    overflow: hidden
    border-right: solid 1px $lightGray
  &.clear
    overflow: hidden
    img
      float: left
  &.small
    max-width: 950px
  &.app
    border: none
    div.reveal
      border: none
footer
  padding: 5rem 10% 4rem 10%
  text-align: center
  p
    width: 48rem
    margin: auto
  ul
    margin-top: 4rem
    li
      display: inline-block
      width: 30%
      a
        height: 100px
        width: 100px
        display: inline-block
        background-image: url("/images/footerLogos.png")
        background-size: 340px 100px
        background-color: transparent
        background-position: 0 0
        padding: 0 !important
        opacity: .5
        transition: opacity .2s
        -webkit-transition: opacity .2s
        &:hover
          background-color: transparent
          opacity: 1
      &.github
        text-align: right
      &.instagram
        a
          background-position: -120px 0
      &.linkedin
        text-align: left
        a
          background-position: -240px 0
  &.about
    padding: 0
    width: 80%
    position: fixed
    bottom: 4rem
    left: 10%
    min-width: 768px
