/* COLORS */
/* GRID */
/* BREAKPOINTS */
/* Z-INDEX */
/*  GLOBAL RESETS  */
body,
p,
table,
tr,
td,
ul,
ol,
li,
dl,
dd,
dt,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
a img {
  border: none;
}
a {
  text-decoration: none;
}
fieldset {
  border: none;
}
:focus {
  outline: 0 none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
}
ul li {
  list-style: none;
}
/*  FONTS  */
@font-face {
  font-family: 'Brandon';
  src: url("/fonts/BrandonText-Regular.eot");
  src: url("/fonts/BrandonText-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/BrandonText-Regular.woff") format('woff'), url("/fonts/BrandonText-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Medium';
  src: url("/fonts/BrandonText-Medium.eot");
  src: url("/fonts/BrandonText-Medium.eot?#iefix") format('embedded-opentype'), url("/fonts/BrandonText-Medium.woff") format('woff'), url("/fonts/BrandonText-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Light';
  src: url("/fonts/BrandonText-Light.eot");
  src: url("/fonts/BrandonText-Light.eot?#iefix") format('embedded-opentype'), url("/fonts/BrandonText-Light.woff") format('woff'), url("/fonts/BrandonText-Light.ttf") format('truetype');
  font-weight: lighter;
  font-style: normal;
}
/* GLOBAL */
html {
  font-size: 10px;
  height: 100%;
/* change global sizes */
}
@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
}
body {
  font: 2rem/2.8rem 'Brandon Medium', sans-serif;
  color: #5c5c5c;
  min-height: 500px;
  position: relative;
  padding-bottom: 6px;
  -webkit-font-smoothing: antialiased;
}
body .borderLR {
  position: fixed;
  width: 6px;
  top: 0;
  bottom: 0;
  z-index: 101;
}
body .borderLR.left {
  left: 0;
}
body .borderLR.right {
  right: 0;
}
@media (max-width: 767px) {
  body .borderLR {
    width: 4px;
  }
}
body .borderTB {
  position: fixed;
  height: 6px;
  left: 0;
  right: 0;
  z-index: 101;
}
body .borderTB.top {
  top: 0;
}
body .borderTB.bottom {
  bottom: 0;
}
@media (max-width: 767px) {
  body .borderTB {
    height: 4px;
  }
}
body.home {
  background: #f170ab;
}
p {
  max-width: 88rem;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  p {
    line-height: 2.6rem;
  }
}
p a {
  border-bottom: 2px dotted #5c5c5c;
  color: #5c5c5c;
  transition: color 0.4s, border-color 0.4s;
}
p a:hover {
  color: #f170ab;
  border-color: #f170ab;
}
a.big {
  font-size: 2.2rem;
  color: #5c5c5c;
  display: inline-block;
  margin-top: 4rem;
  position: relative;
  transition: color 0.5s;
/* bottom border */
/* right border */
}
@media (max-width: 767px) {
  a.big {
    margin-top: 1rem;
    font-size: 2rem;
  }
}
a.big.bottomPad {
  margin-top: 0;
  margin-bottom: 6rem;
}
a.big:before {
  content: '';
  height: 2px;
  width: 100%;
  background: #5c5c5c;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.2s linear 0.1s;
}
a.big:after {
  content: '';
  position: absolute;
  background: #5c5c5c;
  bottom: 0;
  width: 2px;
  height: 0;
  right: 0;
  transition: all 0.1s linear 0.2s;
}
a.big .arrow {
  background: url("/images/arrowLink.svg") no-repeat left center;
  width: 2.5rem;
  height: 3rem;
  margin-left: 1.5rem;
  display: inline-block;
  vertical-align: sub;
/* top border */
/* left border */
}
@media (max-width: 767px) {
  a.big .arrow {
    background-size: contain;
    width: 2rem;
    height: 2rem;
  }
}
a.big .arrow:before {
  content: '';
  position: absolute;
  background: #5c5c5c;
  width: 0;
  height: 2px;
  right: 0;
  top: 0;
  transition: all 0.1s linear 0.1s;
}
a.big .arrow:after {
  content: '';
  position: absolute;
  background: #5c5c5c;
  width: 2px;
  height: 0;
  top: 0;
  right: calc(3rem - 2px);
  transition: all 0.1s linear;
}
a.big:hover {
  color: #f170ab;
}
a.big:hover:before {
  background: #f170ab;
  width: 3rem;
  transition: width linear 0.2s;
}
a.big:hover:after {
  height: 3rem;
  background: #f170ab;
  transition: all 0.1s linear;
}
a.big:hover .arrow:before {
  width: 3rem;
  background: #f170ab;
  transition: all 0.1s linear 0.1s;
}
a.big:hover .arrow:after {
  height: 3rem;
  background: #f170ab;
  transition: all 0.1s linear 0.2s;
}
h1 {
  font: 5.8rem/5rem 'Brandon Light', sans-serif;
  letter-spacing: -0.05em;
}
h1.margin {
  margin-bottom: 2rem;
}
h1.fixed {
  position: fixed;
  top: 0;
  left: 60px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 4.4rem;
  }
}
h2 {
  font: 3.8rem/6rem 'Brandon', sans-serif;
  font-weight: normal;
  margin: 0 0 2rem -1rem;
  padding: 0 1.5rem;
  color: #fff;
  display: inline-block;
  z-index: 100;
  white-space: nowrap;
}
h2#heading {
  position: fixed;
  top: 0;
  left: 7rem;
}
@media (max-width: 767px) {
  h2#heading {
    right: 0;
    left: 5rem;
    padding: 0 5rem 0 0;
    text-align: center;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 3rem;
    line-height: 5rem;
    display: block;
    text-align: center;
    margin-left: 0;
  }
}
h3 {
  font: 3.2rem/3.2rem 'Brandon', sans-serif;
  margin-bottom: 2rem;
}
hr {
  margin: 8rem 0 -1rem 0;
  border: none;
  background: #b8b8b8;
  height: 1px;
}
.center {
  text-align: center;
}
/* GLOBAL ANIMATIONS */
/* GRID LAYOUT */
#page {
  transform: translate3d(0, 10rem, 0);
  transition: transform 1s;
}
#page.loaded {
  transform: translate3d(0, 0, 0);
}
header {
  margin-top: 6rem;
}
section {
  padding: 5rem 7rem;
}
@media (max-width: 767px) {
  section {
    padding: 2rem;
    overflow: hidden;
  }
}
section.grid {
  padding-left: 0;
  padding-right: 0;
}
section.grid .half {
  width: calc(50% - 14rem);
  padding: 0 7rem;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 767px) {
  section.grid .half {
    width: auto;
    padding: 2rem;
  }
}
section.grid img.half,
section.grid video.half {
  width: 50%;
  height: 100%;
  padding: 0;
}
@media (max-width: 767px) {
  section.grid img.half,
  section.grid video.half {
    width: 100%;
  }
}
section.grid h3 {
  margin-top: 7rem;
}
@media (max-width: 767px) {
  section.grid h3 {
    margin-top: 2rem;
  }
}
img.full {
  width: 100%;
  display: block;
}
.noPad {
  padding: 0;
}
.noTopPad {
  padding-top: 0;
}
.noBottomPad {
  padding-bottom: 0;
}
/* ELEMENTS */
ul.workList {
  margin-bottom: 4rem;
}
ul.workList.topPad {
  margin-top: 0.5rem;
}
ul.workList li {
  display: inline;
  margin-right: 2rem;
}
ul.workList li:before {
  content: '+';
}
@media (max-width: 767px) {
  ul.workList li {
    display: list-item;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
nav a {
  display: block;
  height: 6rem;
  width: 6rem;
  background: url("/images/logo.svg");
  background-size: cover;
  padding: 0;
  transition: none;
}
@media (max-width: 767px) {
  nav a {
    height: 5rem;
    width: 5rem;
  }
}
a.sideNav {
  position: fixed;
  width: 7rem;
  height: 8rem;
  top: 40%;
  transition: all 0.15s;
  opacity: 0.7;
  color: #fff;
  font: 2.4rem/8rem 'Brandon Light', sans-serif;
  font-weight: bold;
  box-shadow: 0 0px 4px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
}
@media (max-width: 767px) {
  a.sideNav {
    background-size: 3rem;
    top: 70%;
  }
}
a.sideNav.prev {
  left: -6.5rem;
  background-image: url("/images/arrowPrev.svg");
  background-position: right center;
  padding-right: 3.5rem;
  text-align: right;
  border-radius: 0 6px 6px 0;
}
a.sideNav.prev:hover {
  transform: translate3d(6.5rem, 0, 0);
  opacity: 1;
}
a.sideNav.next {
  right: -6.5rem;
  padding-left: 3.5rem;
  background-image: url("/images/arrowNext.svg");
  background-position: left center;
  border-radius: 6px 0 0 6px;
}
a.sideNav.next:hover,
a.sideNav.next.base {
  transform: translate3d(-6.5rem, 0, 0);
  opacity: 1;
}
.themeBackground {
  transition: background 1s;
}
div.web {
  background: #b8b8b8;
  border-radius: 6px;
  max-width: 1212px;
  position: relative;
  padding: 6px;
}
@media (max-width: 767px) {
  div.web {
    padding: 2px;
    border-radius: 3px;
  }
}
div.web div.head {
  padding: 2px 6px 8px 6px;
  line-height: 0;
}
@media (max-width: 767px) {
  div.web div.head {
    padding: 0 0 2px 2px;
  }
}
div.web div.head div.nav {
  background: url("/images/webNav.svg") no-repeat;
  width: 64px;
  height: 16px;
  display: inline-block;
  margin-right: 14px;
  background-size: contain;
  vertical-align: text-top;
}
@media (max-width: 767px) {
  div.web div.head div.nav {
    height: 6px;
    width: 20px;
    margin-right: 6px;
  }
}
div.web div.head div.url {
  font-family: 'Lucida Grande', sans-serif;
  font-size: 14px;
  color: #b8b8b8;
  background: #e0e0e0;
  line-height: 24px;
  padding: 0 10px;
  border-radius: 2px;
  height: 24px;
  display: inline-block;
  width: calc(100% - 98px);
}
@media (max-width: 767px) {
  div.web div.head div.url {
    padding: 0 5px;
    height: 10px;
    line-height: 10px;
    font-size: 8px;
    width: calc(100% - 36px);
    vertical-align: super;
  }
}
div.web img {
  max-width: 100%;
  display: block;
  border-radius: 0 0 5px 5px;
}
@media (max-width: 767px) {
  div.web img {
    border-radius: 0 0 3px 3px;
  }
}
div.web img.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
div.web video {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div.web video.washHeading {
  width: 71.4%;
  margin: 42px 0 0 15.4%;
}
div.web div.wrapper {
  position: relative;
}
div.web div.reveal {
  position: absolute;
  overflow: hidden;
  border-right: solid 1px #e0e0e0;
}
div.web.clear {
  overflow: hidden;
}
div.web.clear img {
  float: left;
}
div.web.small {
  max-width: 950px;
}
div.web.app {
  padding: 0;
  box-shadow: 0 2px 14px rgba(0,0,0,0.5);
  border-radius: 6px;
  overflow: hidden;
}
div.mobile {
  background: #b8b8b8;
  border-radius: 28px;
  padding: 22px 10px 0 10px;
  display: inline-block;
}
@media (max-width: 767px) {
  div.mobile {
    padding: 12px 5px 0 5px;
    border-radius: 14px;
  }
}
div.mobile:before {
  content: '';
  width: 60px;
  height: 7px;
  background: #5c5c5c;
  border-radius: 4px;
  display: block;
  margin: 0 auto 18px auto;
}
@media (max-width: 767px) {
  div.mobile:before {
    width: 40px;
    height: 6px;
    margin: 0 auto 12px auto;
  }
}
div.mobile:after {
  content: '';
  width: 56px;
  height: 56px;
  background: #5c5c5c;
  border-radius: 50%;
  display: block;
  margin: 4px auto 12px auto;
}
@media (max-width: 767px) {
  div.mobile:after {
    width: 32px;
    height: 32px;
    margin: 4px auto 10px auto;
  }
}
div.mobile img,
div.mobile video {
  width: 100%;
  max-width: 375px;
  height: auto;
  border-radius: 4px;
}
@media (max-width: 767px) {
  div.mobile img,
  div.mobile video {
    border-radius: 3px;
  }
}
/*  HOME PAGE  */
#page.home {
  position: relative;
  z-index: 95;
  margin-bottom: 40rem;
  padding: 0;
  background: #fff;
  transform: translate3d(0, 0, 0);
}
section.homeHeader {
  background-image: linear-gradient(-5deg, #8c76ed, #fca4c5);
  display: flex;
  justify-content: flex-end;
  height: 110vh;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  section.homeHeader {
    height: 105vh;
    flex-direction: column;
    justify-content: center;
  }
}
section.homeHeader div.homeCopy {
  position: absolute;
  left: 8%;
  top: 32vh;
}
@media (max-width: 767px) {
  section.homeHeader div.homeCopy {
    top: 12vh;
  }
}
section.homeHeader div.homeCopy h1 {
  color: #fff;
}
section.homeHeader div.homeCopy p {
  line-height: 2.2rem;
  max-width: 56rem;
  color: #fff;
}
@media (max-width: 767px) {
  section.homeHeader div.homeCopy p {
    line-height: 2.2rem;
  }
}
section.homeHeader div#rubix {
  width: 50%;
  height: 100vh;
}
@media (max-width: 767px) {
  section.homeHeader div#rubix {
    width: 100%;
  }
}
section.homeHeader ul.downArrows {
  position: fixed;
  width: 100%;
  bottom: 3rem;
  opacity: 1;
  cursor: pointer;
  transition: opacity 1s;
}
section.homeHeader ul.downArrows li {
  background-image: url("/images/arrowDown.svg");
  background-size: contain;
  width: 4.8rem;
  height: 2rem;
  margin: -2px auto;
  opacity: 0;
}
section.homeHeader ul.downArrows li:nth-child(1) {
  animation: arrows1 3s 0.5s infinite ease-in;
}
section.homeHeader ul.downArrows li:nth-child(2) {
  animation: arrows2 3s 0.8s infinite ease-in;
}
section.homeHeader ul.downArrows li:nth-child(3) {
  animation: arrows3 3s 1.1s infinite ease-in;
}
@media (max-width: 767px) {
  section.homeHeader ul.downArrows li {
    width: 4rem;
    height: 2rem;
  }
}
section.homeHeader ul.downArrows.hide {
  opacity: 0;
}
/* DOWNWARD ARROW ANIMATIONS */
section.portfolio {
  padding: 5rem 21px 0 21px;
}
@media (max-width: 767px) {
  section.portfolio {
    padding: 0;
    overflow: visible;
  }
}
section.portfolio a.portBlock {
  border-radius: 4px;
  opacity: 0;
  box-shadow: 0 2px 16px rgba(0,0,0,0.3);
  height: 42rem;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 15px;
  padding: 0;
  background-size: cover;
  background-position: 50% 50%;
}
section.portfolio a.portBlock.lazy-bg-loaded {
  transition: all 1.5s;
  transform: translate3d(0, -12rem, 0);
  opacity: 1;
}
section.portfolio a.portBlock.contain {
  background-size: contain;
}
section.portfolio a.portBlock.half {
  display: inline-block;
  width: calc(50% - 30px);
}
@media (max-width: 1024px) {
  section.portfolio a.portBlock.half {
    width: auto;
    display: block;
  }
}
section.portfolio a.portBlock.oneThird {
  display: inline-block;
  width: calc(33.33% - 30px);
}
@media (max-width: 1024px) {
  section.portfolio a.portBlock.oneThird {
    width: auto;
    display: block;
  }
}
section.portfolio a.portBlock.twoThird {
  display: inline-block;
  width: calc(66.66% - 30px);
}
@media (max-width: 1024px) {
  section.portfolio a.portBlock.twoThird {
    width: auto;
    display: block;
  }
}
section.portfolio a.portBlock video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
section.portfolio a.portBlock h2 {
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  padding: 0 2rem;
  z-index: 99;
  margin: 0;
}
@media (max-width: 1024px) {
  section.portfolio a.portBlock h2 {
    left: 1.4rem;
    top: 1.4rem;
  }
}
section.portfolio a.portBlock .border {
  border-width: 0.5rem;
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  section.portfolio a.portBlock .border {
    border-width: 0.8rem;
  }
}
section.portfolio a.portBlock:hover .border {
  border-width: 1rem;
  background: rgba(0,0,0,0.15);
  box-shadow: inset 0 0 30px rgba(0,0,0,0.2);
}
section.footer {
  color: #fff;
  background: #f170ab;
  text-align: center;
  padding: 6rem 7rem;
  margin-top: -10.5rem;
}
@media (max-width: 767px) {
  section.footer {
    padding: 3rem 1rem;
  }
}
section.footer p {
  font-size: 2.1rem;
  line-height: 2.4rem;
}
section.footer section {
  max-width: 78rem;
  margin: auto;
  padding: 0;
}
section.footer section.icons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  section.footer section.icons {
    padding: 0 2rem;
  }
}
section.footer section.icons a {
  height: 10rem;
  width: 10rem;
  background-image: url("/images/footerLogos.svg");
  background-size: cover;
}
@media (max-width: 767px) {
  section.footer section.icons a {
    height: 7rem;
    width: 7rem;
  }
}
section.footer section.icons a.linkedin {
  background-position: -10rem 0;
}
@media (max-width: 767px) {
  section.footer section.icons a.linkedin {
    background-position: -7rem 0;
  }
}
section.footer section.icons a.instagram {
  background-position: -20rem 0;
}
@media (max-width: 767px) {
  section.footer section.icons a.instagram {
    background-position: -14rem 0;
  }
}
section.footer section.icons a.spotify {
  background-position: -30rem 0;
}
@media (max-width: 767px) {
  section.footer section.icons a.spotify {
    background-position: -21rem 0;
  }
}
section.footer section.icons a:hover {
  animation: bounce linear 0.4s;
  animation-fill-mode: forwards;
}
section.profile {
  background: url("/images/profile.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* TAPE STACKS */
section.tapestacksCity {
  height: 40rem;
  padding: 0;
  margin: -10rem 0 0 0;
  background-image: url("/images/portfolio/tapeStacks/cityscape.svg"), url("/images/portfolio/tapeStacks/cityscapeStripes.svg");
  background-position: bottom left, bottom;
  background-repeat: no-repeat, repeat-x;
}
@media (max-width: 1024px) {
  section.tapestacksCity {
    margin: 0;
  }
}
@media (max-width: 767px) {
  section.tapestacksCity {
    height: 8rem;
    background-size: 42rem, 8.22rem;
    padding-bottom: 24rem;
  }
}
/* VINTAGE PAGES */
div#page.vintage div.web {
  max-width: 1200px;
}
@-moz-keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@-o-keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@-moz-keyframes arrows1 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.33;
  }
  90% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.33;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes arrows1 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.33;
  }
  90% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.33;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@-o-keyframes arrows1 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.33;
  }
  90% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.33;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@keyframes arrows1 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.33;
  }
  90% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.33;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@-moz-keyframes arrows2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.66;
  }
  80% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.66;
  }
  90% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes arrows2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.66;
  }
  80% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.66;
  }
  90% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@-o-keyframes arrows2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.66;
  }
  80% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.66;
  }
  90% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@keyframes arrows2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.66;
  }
  80% {
    transform: translate3d(0, 6px, 0);
    opacity: 0.66;
  }
  90% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@-moz-keyframes arrows3 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 1;
  }
  70% {
    transform: translate3d(0, 6px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes arrows3 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 1;
  }
  70% {
    transform: translate3d(0, 6px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@-o-keyframes arrows3 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 1;
  }
  70% {
    transform: translate3d(0, 6px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
@keyframes arrows3 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  15% {
    transform: translate3d(0, 6px, 0);
    opacity: 1;
  }
  70% {
    transform: translate3d(0, 6px, 0);
    opacity: 1;
  }
  80% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 6px, 0);
    opacity: 0;
  }
}
